
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>Metromega - Responsive HTML5 Metro Template</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row header">

        </div>
        <div id="home" class="row  menu">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="row">
                    <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
                        <div class="row tile blue icon-flip title-indent w1 h1  isotope-item">
                            <h2 class="ng-binding ng-scope">Title Insurance</h2>
                            <p class="ng-binding ng-scope">Widest choice of title insurance plans, sized to your requirements!</p>
                            <ul class="prequot-desktop-left-list ng-scope">
                                <!-- ngRepeat: contentdata in headertext.detail -->
                                <li ng-repeat="contentdata in headertext.detail" class="ng-binding ng-scope">250+ plans from 18 insurance companies</li><!-- end ngRepeat: contentdata in headertext.detail -->
                                <li ng-repeat="contentdata in headertext.detail" class="ng-binding ng-scope">Instant Purchase; Immediate Receipt</li><!-- end ngRepeat: contentdata in headertext.detail -->
                                <li ng-repeat="contentdata in headertext.detail" class="ng-binding ng-scope">Free support for 7 days a week, 365 days a year</li><!-- end ngRepeat: contentdata in headertext.detail -->
                                <li ng-repeat="contentdata in headertext.detail" class="ng-binding ng-scope">Full &amp; free end-to-end assistance on claims</li><!-- end ngRepeat: contentdata in headertext.detail -->
                                <li ng-repeat="contentdata in headertext.detail" class="ng-binding ng-scope">More than 2 Lakh happy &amp; satisfied customers</li><!-- end ngRepeat: contentdata in headertext.detail -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="row tile  icon-flip title-indent w1 h1  isotope-item">
                            <a class="link" href="#" onClick="openSolution();">
                                <i class="fa fa-cloud-download"></i>
                                <p class="title">Buy Template</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="row tile  icon-flip title-indent w1 h1  isotope-item">
                            <a class="link" href="#" onClick="openSolution();">
                                <i class="fa fa-cloud-download"></i>
                                <p class="title">Buy Template</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="row tile  icon-flip title-indent w1 h1  isotope-item">
                            <a class="link" href="#" onClick="openSolution();">
                                <i class="fa fa-cloud-download"></i>
                                <p class="title">Buy Template</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="row tile  icon-flip title-indent w1 h1  isotope-item">
                            <a class="link" href="#" onClick="openSolution();">
                                <i class="fa fa-cloud-download"></i>
                                <p class="title">Buy Template</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="row tile  icon-flip title-indent w1 h1  isotope-item">
                            <a class="link" href="#" onClick="openSolution();">
                                <i class="fa fa-cloud-download"></i>
                                <p class="title">Buy Template</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="row tile  icon-flip title-indent w1 h1  isotope-item">
                            <a class="link" href="#" onClick="openSolution();">
                                <i class="fa fa-cloud-download"></i>
                                <p class="title">Buy Template</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="row tile  icon-flip title-indent w1 h1  isotope-item">
                            <a class="link" href="#" onClick="openSolution();">
                                <i class="fa fa-cloud-download"></i>
                                <p class="title">Buy Template</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="row tile  icon-flip title-indent w1 h1  isotope-item">
                            <a class="link" href="#" onClick="openSolution();">
                                <i class="fa fa-cloud-download"></i>
                                <p class="title">Buy Template</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="row tile  icon-flip title-indent w1 h1  isotope-item">
                            <a class="link" href="#" onClick="openSolution();">
                                <i class="fa fa-cloud-download"></i>
                                <p class="title">Buy Template</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="row tile  icon-flip title-indent w1 h1  isotope-item">
                            <a class="link" href="#" onClick="openSolution();">
                                <i class="fa fa-cloud-download"></i>
                                <p class="title">Buy Template</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="row tile  icon-flip title-indent w1 h1  isotope-item">
                            <a class="link" href="#" onClick="openSolution();">
                                <i class="fa fa-cloud-download"></i>
                                <p class="title">Buy Template</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="row tile  icon-flip title-indent w1 h1  isotope-item">
                            <a class="link" href="#" onClick="openSolution();">
                                <i class="fa fa-cloud-download"></i>
                                <p class="title">Buy Template</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div id="test" class="menu hidden row">
            <div id="slide" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                        <div class="prequot-desktop-left prequot-desktop-left-new">
                            <h2 class="ng-binding ng-scope">Health Insurance</h2>
                            <p class="ng-binding ng-scope">Widest choice of health insurance plans, sized to your requirements!</p>
                            <ul class="prequot-desktop-left-list ng-scope">
                                <!-- ngRepeat: contentdata in headertext.detail -->
                                <li ng-repeat="contentdata in headertext.detail" class="ng-binding ng-scope">250+ plans from 18 insurance companies</li><!-- end ngRepeat: contentdata in headertext.detail -->
                                <li ng-repeat="contentdata in headertext.detail" class="ng-binding ng-scope">Instant Purchase; Immediate Receipt</li><!-- end ngRepeat: contentdata in headertext.detail -->
                                <li ng-repeat="contentdata in headertext.detail" class="ng-binding ng-scope">Free support for 7 days a week, 365 days a year</li><!-- end ngRepeat: contentdata in headertext.detail -->
                                <li ng-repeat="contentdata in headertext.detail" class="ng-binding ng-scope">Full &amp; free end-to-end assistance on claims</li><!-- end ngRepeat: contentdata in headertext.detail -->
                                <li ng-repeat="contentdata in headertext.detail" class="ng-binding ng-scope">More than 2 Lakh happy &amp; satisfied customers</li><!-- end ngRepeat: contentdata in headertext.detail -->
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">

                        <div class="form-horizontal form-label-left">
                            <div class="form-group">
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <label for="exampleSelect1">Calculation Options:</label>
                                    <br />
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"> All Fees
                                    </label>
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2"> Title Rates
                                    </label>
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3"> Closing Costs
                                    </label>
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3"> Endorsements
                                    </label>
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3"> Recording Fees
                                    </label>
                                </div>
                                <div class="col-md-4 col-sm-6 col-xs-12 ">
                                    <label for="exampleSelect1">Loan Application Date::</label>
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input type='text' id="txtbasjoiningdate" name="txtbasjoiningdate" class="form-control dp" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <label for="exampleSelect1"> Property State:</label>
                                    <select class="form-control" id="exampleSelect1">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <label for="exampleSelect1"> Property County:</label>
                                    <select class="form-control" id="exampleSelect1">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <label for="exampleSelect1"> Property City:</label>
                                    <select class="form-control" id="exampleSelect1">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group ">
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <label for="exampleSelect1">Borrower Name (optional):</label>
                                    <input class="form-control" type="text" value="Artisanal kale" id="example-text-input">
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <label for="exampleSelect1">Property Address (optional):</label>
                                    <textarea class="form-control" id="exampleTextarea" rows="1"></textarea>
                                </div>
                            </div>
                            <div class="form-group hidden">
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <label for="exampleSelect1"> Closing Office State:</label>
                                    <select class="form-control" id="exampleSelect1">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <label for="exampleSelect1"> Closing Office County:</label>
                                    <select class="form-control" id="exampleSelect1">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <label for="exampleSelect1"> Transaction Type:</label>
                                    <select class="form-control" id="exampleSelect1">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <label for="exampleSelect1">Sales Amount</label>
                                    <div class='input-group date' id='datetimepicker1'>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-usd"></span>
                                        </span>
                                        <input type='text' id="txtbasjoiningdate" name="txtbasjoiningdate" class="form-control dp" />
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <label for="exampleSelect1"> Loan Amount:</label>
                                    <div class='input-group date' id='datetimepicker1'>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-usd"></span>
                                        </span>
                                        <input type='text' id="txtbasjoiningdate" name="txtbasjoiningdate" class="form-control dp" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <label for="exampleSelect1">File Number (optional):</label>
                                    <input class="form-control" type="text" value="Artisanal kale" id="example-text-input">
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <label for="exampleSelect1">Disclosure Type:</label>
                                    <select class="form-control" id="exampleSelect1">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12 col-sm-12 col-xs-12 ">
                                    <button type="button" class="btn pull-right btn-success" onclick="redriectotest1();"><i class="fa fa-arrow-right" aria-hidden="true"></i>Next</button>
                                    <button type="button" onclick="redriectohome();" class="btn pull-right btn-primary"><i class="fa fa-undo" aria-hidden="true"></i>Home</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div id="test1" class="menu hidden row">
            <div id="slide1" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row customheder blue">Title Rates and Endorsements</div>
                <div class="row borderbottom">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 border-right">
                        <div class="form-horizontal form-label-left">
                            <div class="form-group">
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <label style="margin-top:5px;">Title Policy 1:</label>
                                </div>
                                <div class="col-md-9 col-sm-6 col-xs-12">
                                    <select class="form-control" id="exampleSelect1">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <label style="margin-top:5px;">Rate Type 1:</label>
                                </div>
                                <div class="col-md-9 col-sm-6 col-xs-12">
                                    <select class="form-control" id="exampleSelect1">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <label style="margin-top:5px;">Liability Amount:</label>
                                </div>
                                <div class="col-md-9 col-sm-6 col-xs-12">
                                    <input class="form-control" type="text" value="Artisanal kale" id="example-text-input">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-horizontal form-label-left">
                            <div class="form-group ">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <label for="exampleSelect1">Endorsements: None</label>
                                    <br />
                                    <a href="#"><i class="fa fa-paperclip "></i> Attach Endorsements</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row  borderbottom">

                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 border-right">
                        <div class="form-horizontal form-label-left">
                            <div class="form-group">
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <label style="margin-top:5px;">Title Policy 1:</label>
                                </div>
                                <div class="col-md-9 col-sm-6 col-xs-12">
                                    <select class="form-control" id="exampleSelect1">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <label style="margin-top:5px;">Rate Type 1:</label>
                                </div>
                                <div class="col-md-9 col-sm-6 col-xs-12">
                                    <select class="form-control" id="exampleSelect1">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <label style="margin-top:5px;">Liability Amount:</label>
                                </div>
                                <div class="col-md-9 col-sm-6 col-xs-12">
                                    <input class="form-control" type="text" value="Artisanal kale" id="example-text-input">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12 col-sm-12 col-xs-12 ">
                                    <button type="button" class="btn pull-right btn-info" id="btnBasicinfosave"><i class="fa fa-remove" aria-hidden="true"></i>Remove</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-horizontal form-label-left">
                            <div class="form-group ">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <label for="exampleSelect1">Endorsements: None</label>
                                    <br />
                                    <a href="#"><i class="fa fa-paperclip "></i> Attach Endorsements</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-md-12 col-sm-12 col-xs-12 ">
                        <button type="button" class="btn pull-right btn-success" onclick="redriectotest2();" ><i class="fa fa-arrow-right" aria-hidden="true"></i>Next</button>
                        <button type="button" class="btn pull-right btn-success" onclick="redriectotest1prv();"><i class="fa fa-arrow-left" aria-hidden="true"></i>Previous</button>
                        <button type="button"  onclick="redriectohome1();" class="btn pull-right btn-primary"><i class="fa fa-undo" aria-hidden="true"></i>Home</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="test2" class="menu hidden  row">
            <div id="slide2" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="receipt-content">
                    <div class="container bootstrap snippet">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="invoice-wrapper">
                                    <div class="payment-info">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <span>Payment No.</span>
                                                <strong>434334343</strong>
                                            </div>
                                            <div class="col-sm-6 text-right">
                                                <span>Payment Date</span>
                                                <strong>Jul 09, 2014 - 12:20 pm</strong>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="line-items">
                                        <div class="headers clearfix">
                                            <div class="row">
                                                <div class="col-xs-6">Product Description</div>
                                                <div class="col-xs-2">Buyer</div>
                                                <div class="col-xs-2">seller</div>
                                                <div class="col-xs-2 text-right">Amount</div>
                                            </div>
                                        </div>
                                        <div class="items">
                                            <div class="row item">
                                                <div class="col-xs-6 desc">
                                                    ALTA Owner's Policy
                                                </div>
                                                <div class="col-xs-2 qty">
                                                    $60.00
                                                </div>
                                                <div class="col-xs-2 qty">
                                                    $60.00
                                                </div>
                                                <div class="col-xs-2 amount text-right">
                                                    $60.00
                                                </div>
                                            </div>
                                            <div class="row item">
                                                <div class="col-xs-6 desc">
                                                    Owner's premium (Full premium rate - Actual)
                                                </div>
                                                <div class="col-xs-2 qty">

                                                </div>
                                                <div class="col-xs-2 qty">

                                                </div>
                                                <div class="col-xs-2 amount text-right">

                                                </div>
                                            </div>
                                            <div class="row item">
                                                <div class="col-xs-6 desc">
                                                    Owner's premium (Incremental cost - Disclosed)
                                                </div>
                                                <div class="col-xs-2 qty">
                                                    $60.00
                                                </div>
                                                <div class="col-xs-2 qty">
                                                    $60.00
                                                </div>
                                                <div class="col-xs-2 amount text-right">
                                                    $60.00
                                                </div>
                                            </div>
                                            <div class="row item">
                                                <div class="col-xs-6 desc">
                                                    Liability Amount :$1,000,000.00
                                                    Rate Type : Basic
                                                </div>
                                                <div class="col-xs-2 qty">

                                                </div>
                                                <div class="col-xs-2 qty">

                                                </div>
                                                <div class="col-xs-2 amount text-right">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="items">
                                            <div class="row item">
                                                <div class="col-xs-6 desc">
                                                    Total for Title Fees - Actual
                                                </div>
                                                <div class="col-xs-2 qty">
                                                    $60.00
                                                </div>
                                                <div class="col-xs-2 qty">
                                                    $60.00
                                                </div>
                                                <div class="col-xs-2 amount text-right">
                                                    $60.00
                                                </div>
                                            </div>
                                            <div class="row item">
                                                <div class="col-xs-6 desc">
                                                    Total for Title Fees - Disclosed
                                                </div>
                                                <div class="col-xs-2 qty">
                                                    $60.00
                                                </div>
                                                <div class="col-xs-2 qty">
                                                    $60.00
                                                </div>
                                                <div class="col-xs-2 amount text-right">
                                                    $60.00
                                                </div>
                                            </div>
                                        </div>

                                        <div class="total text-right">
                                            <p class="extra-notes">
                                                <strong>Extra Notes</strong>
                                                Please send all items at the same time to shipping address by next week.
                                                Thanks a lot.
                                            </p>
                                            <div class="field">
                                                Buyer Total <span>$379.00</span>
                                            </div>
                                            <div class="field">
                                                Seller Total <span>$0.00</span>
                                            </div>
                                            <div class="field grand-total">
                                                Grand Total <span>$312.00</span>
                                            </div>
                                        </div>

                                        <div class="print">
                                            <a href="#">
                                                <i class="fa fa-print"></i>
                                                Print this receipt
                                            </a>
                                            <a href="#">
                                                <i class="fa fa-envelope"></i>
                                                Email
                                            </a>
                                            <a href="#"  onclick="redriectotest1rec();">
                                                <i class="fa fa-arrow-left"></i>
                                                Previous
                                            </a>
                                            <a href="#"  onclick="redriectohome2();">
                                                <i class="fa fa-refresh"></i>
                                                Start Over
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="footer">
                                    Copyright © 2014. FAI
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function openSolution() {
            $('#test').removeClass('hidden');
            $('#home').addClass('hidden');
        }
        function redriectotest1rec() {
            $('#test2').addClass('hidden');
            $('#test1').removeClass('hidden');
        }
        function redriectohome2() {
            $('#test2').addClass('hidden');
            $('#home').removeClass('hidden');
        }
        function redriectotest1() {
            $('#test').addClass('hidden');
            $('#test1').removeClass('hidden');
        }
        function redriectotest1prv() {
            $('#test1').addClass('hidden');
            $('#test').removeClass('hidden');
        }
        function redriectotest2() {
            $('#test1').addClass('hidden');
            $('#test2').removeClass('hidden');
        }
        function redriectohome() {
            $('#test').addClass('hidden');
            $('#home').removeClass('hidden');
        }
        function redriectohome1() {
            $('#test1').addClass('hidden');
            $('#home').removeClass('hidden');
        }
    </script>
</body>
</html>
