
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" class="csstransforms csstransforms3d csstransitions">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>Metromega - Responsive HTML5 Metro Template</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    <!-- BACKGROUND -->
    @*<img src="~/image/background-1.jpg" class="background bgwidth" alt="">*@
    <!-- /BACKGROUND -->
    <!-- LOGO -->
    <div class="header">
        <h1>
            <a data-scroll="scrollto" href="http://grozav.com/themes/metromega/#start">
                <img src="~/image/headerlogo.png" height="32" width="35" class="header-logo" alt="">
                Metromega
            </a>
        </h1>
    </div>
    <!-- /LOGO -->
    <!-- MAIN CONTENT SECTION -->
 
            <!-- /SECTION TITLE -->
            <!-- SECTION TILES -->
    <div class="container">
        <div class="row" style="margin-top:100px">
            <div class="col-lg-3">
                <div class="row tile green h1 w2 ico isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 24px, 0px);">
                    <a class="link" href="http://themeforest.net/item/metromega-responsive-html5-metro-template/5497931?ref=grozavcom">
                        <i class="fa fa-cloud-download"></i>
                        <p class="title">Buy Template</p>
                    </a>
                </div>
                <div class="tile orange w2 h1 icon-featurecw title-verticalcenter isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 160px, 0px);">
                    <a data-scroll="scrollto" href="http://grozav.com/themes/metromega/#about" class="link">
                        <i class="fa fa-user"></i>
                        <p class="title">About</p>
                    </a>
                </div>
                <div class="tile blue title-verticalcenter icon-flip w2 h1 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 296px, 0px);">
                    <a class="link" data-scroll="scrollto" href="http://grozav.com/themes/metromega/#portfolio">
                        <i class="fa fa-picture-o"></i>
                        <p class="title">Portfolio</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="tile imagetile title-indent tileshow w4 h1 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 25px, 0px);width:95%;height:250px">
                        <div class="slide active" style="display: none;">
                            <a href="http://grozav.com/themes/metromega/#galleryimage" data-lightbox="mlightboximage" class="link" data-src="~/image/01_preview.jpg" data-title="Generic" data-description="by PierreBorodin">
                                <img src="~/image/01_thumbnail.jpg" alt="" class="bgwidth">
                                <p class="title">Latest Work</p>
                            </a>
                        </div>
                        <div class="slide" style="display: block;">
                            <a href="http://grozav.com/themes/metromega/#galleryimage" data-lightbox="mlightboximage" class="link" data-src="~/image/02_preview.jpg" data-title="Solana" data-description="by abcgomel">
                                <img src="~/image/01_thumbnail.jpg" alt="" class="bgwidth">
                                <p class="title">Latest Work</p>
                            </a>
                        </div>
                        <div class="slide" style="display: none;">
                            <a href="http://grozav.com/themes/metromega/#galleryimage" data-lightbox="mlightboximage" class="link" data-src="~/image/03_preview.jpg" data-title="Top of the world" data-description="Amazing photomanipulation">
                                <img src="~/image/03_thumbnail.jpg" alt="" class="bgwidth">
                                <p class="title">Latest Work</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                     <div class="col-lg-6">
                         <div class="tile blue title-verticalcenter icon-flip w2 h1 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 296px, 0px);">
                             <a class="link" data-scroll="scrollto" href="http://grozav.com/themes/metromega/#portfolio">
                                 <i class="fa fa-picture-o"></i>
                                 <p class="title">Portfolio</p>
                             </a>
                         </div>
                         </div>
                    <div class="col-lg-6">
                        <div class="tile blue title-verticalcenter icon-flip w2 h1 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 296px, 0px);">
                            <a class="link" data-scroll="scrollto" href="http://grozav.com/themes/metromega/#portfolio">
                                <i class="fa fa-picture-o"></i>
                                <p class="title">Portfolio</p>
                            </a>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="col-lg-3">
                <div class="row tile red h1 w2 ico isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 24px, 0px);">
                    <a class="link" href="http://themeforest.net/item/metromega-responsive-html5-metro-template/5497931?ref=grozavcom">
                        <i class="fa fa-cloud-download"></i>
                        <p class="title">Buy Template</p>
                    </a>
                </div>
                <div class="tile orange w2 h1 icon-featurecw title-fadeout isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 160px, 0px);">
                    <a data-scroll="scrollto" href="http://grozav.com/themes/metromega/#about" class="link">
                        <i class="fa fa-user"></i>
                        <p class="title">About</p>
                    </a>
                </div>
                <div class="tile blue title-verticalcenter icon-flip w2 h1 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 296px, 0px);">
                    <a class="link" data-scroll="scrollto" href="http://grozav.com/themes/metromega/#portfolio">
                        <i class="fa fa-picture-o"></i>
                        <p class="title">Portfolio</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
            <!-- /SECTION TILES -->
      
    <!-- /MAIN CONTENT SECTION -->
    <!-- LOCKSCREEN -->
    <!-- /LOCKSCREEN -->
    <!-- SIDEBAR -->
    <!-- /SIDEBAR -->
    <!-- PRELOADER -->
    
    <!-- /PRELOADER -->
    <!-- GALLERY LIGHTBOX -->
    <!-- /GALLERY LIGHTBOX -->
    <!-- VIDEO LIGHTBOX -->
    <!-- /VIDEO LIGHTBOX -->
    <script src="~/script/jquery-latest.min.js"></script>
    <script src="~/script/jquery.isotope.min.js"></script>
    <script src="~/script/jquery.mCustomScrollbar.js"></script>
    <script src="~/script/tileshow.js"></script>
    <script src="~/script/jquery.touchSwipe.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/script/script.js"></script>
</body>
</html>
